.materia {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
    text-align: justify;
}

.materia img {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
    border-radius: 0.5%;
}

.conteudo {
    background-color: #ebeaea;
    padding: 15px 35px 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
}

main {
    padding-left: 20px;
}


.div>blockquote {
    color: #9b9999;
}
