

#cadastroNome,
#cadastroEmail,
#cadastroSobrenome {
    padding: 3px 100px;
    margin-bottom: 10px;
    text-align: center;
}

#dataNascimento {
    padding: 3px 20px;
    margin-bottom: 10px;
    text-align: center;
}

#cadastroSenha,
#cadastroConfirmaSenha {
    padding: 3px 10px;
}

#voltarCadastro,
#confirmaCadastro {
    padding: 7px 9px 7px;
    margin-top: 10px;
}

.buttonCadastro {
    margin-left: 215px;
}

#cadastroNome:hover,
#cadastroEmail:hover,
#cadastroSobrenome:hover,
#dataNascimento:hover,
#cadastroSenha:hover,
#cadastroConfirmaSenha:hover,
#masculino:hover,
#feminino:hover {
    background-color: #d8d8d8;
}
