.materia {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
    text-align: justify;

    background-color: #ebeaea;
    padding: 15px 35px 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.materia img {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
    border-radius: 0.5%;
}

.titulo {
    text-align: center;
}


.div>blockquote {
    color: #9b9999;
}

/* Botões e Imagens */
 .img{
    width: 100%;
    max-width: 1085px;
    height: auto;
    box-shadow: 0 2px 8px rgb(102, 102, 102);
}

#especialistaFord,
#whatsapp {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#especialistaFord {
    background-color: #007BFF;
}

#whatsapp {
    padding: 15px 53px;
    background-color: #049622;
}

#especialistaFord:hover {
    background-color: #0056b3;
}

.imagem:hover {
    filter: brightness(0.8);
}